@keyframes growBack {
  0% {
  }

  100% {
    background-color: rgb(242, 242, 242);
  }
}

@keyframes growNext {
  0% {
  }

  100% {
    background-color: rgb(224, 224, 224);
  }
}

#back {
  color: #4886B0;
  border-radius: 4px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 4px;
  margin-top: 35px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

#back:hover {
  animation-name: growBack;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

#next {
  color: black;
  border-radius: 4px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 4px;
  margin-top: 35px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

#next:hover {
  animation-name: growNext;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.nav:hover {
  cursor: pointer;
}
